/guns-admin/target/
/guns-core/target/
/guns-rest/target/
/guns-admin/target/classes/META-INF/maven/com.stylefeng/guns-admin/pom.properties
/guns-core/target/classes/META-INF/maven/com.stylefeng/guns-core/pom.properties
/guns-rest/target/classes/META-INF/maven/com.stylefeng.guns/guns-rest/pom.properties
*.class

# Package Files #
*.jar
*.war
*.ear
/target/

# eclipse
.settings/
.classpath
.project
logs/

*.log

# idea
.idea/
*.iml

*velocity.log*
