<!DOCTYPE html>
<html lang="en">
	<head>
		@include("/common/weilai/_head.html"){}
		<link href="${ctxPath}/static/modular/weilai/web/css/index.css" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		@include("/common/weilai/_nav.html"){}
		
		<!-- Header -->
		<header>
			<div class="container-fluid">
				<div class="slider-container">
					<div class="owl-slider owl-carousel">
						<div class="item">
							<div class="owl-slider-item">
								<img src="${ctxPath}/static/modular/weilai/web/images/demo/slider-2.jpg" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in"><!--We are the number one--></div>
									<div class="intro-heading"><!--Design & Development Agency--></div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="owl-slider-item">
								<img src="${ctxPath}/static/modular/weilai/web/images/demo/slider-1.jpg" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in"><!--We are the number one--></div>
									<div class="intro-heading"><!--Design & Development Agency--></div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="owl-slider-item">
								<img src="${ctxPath}/static/modular/weilai/web/images/demo/slider-2.jpg" class="img-responsive" alt="portfolio">
								<div class="intro-text">
									<div class="intro-lead-in"><!--We are the number one--></div>
									<div class="intro-heading"><!--Design & Development Agency--></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<section style="background-color: #f8f8f8;">
			<div class="container">
				<div class="row" >
					<div class="col-md-3" style="padding: 0;">
						<div class="col-md-4" style="padding: 0px;width: 65px;">
							<img alt="" src="${ctxPath}/static/modular/weilai/web/images/demo/pic_img1.jpg" style="width: 65px;height: 65px;border-radius: 50%">
						</div>
						<div class="col-md-8" style="padding: 0px;padding-left: 10px;">
							<div style="font-weight: bold;font-size: 16px;line-height: 30px;">品牌实力</div>
							<div style="font-size: 14px;line-height: 30px;">
								为您定制专属您的整装方案
							</div>
						</div>
					</div>
					<div class="col-md-3" style="padding: 0;">
						<div class="col-md-4" style="padding: 0px;width: 65px;">
							<img alt="" src="${ctxPath}/static/modular/weilai/web/images/demo/pic_img2.jpg" style="width: 65px;height: 65px;border-radius: 50%">
						</div>
						<div class="col-md-8" style="padding: 0px;padding-left: 10px;">
							<div style="font-weight: bold;font-size: 16px;line-height: 30px;">专业团队</div>
							<div style="font-size: 14px;line-height: 30px;">
								我们的设计师更专业、更懂你
							</div>
						</div>
					</div>
					<div class="col-md-3" style="padding: 0;">
						<div class="col-md-4" style="padding: 0px;width: 65px;">
							<img alt="" src="${ctxPath}/static/modular/weilai/web/images/demo/pic_img3.jpg" style="width: 65px;height: 65px;border-radius: 50%">
						</div>
						<div class="col-md-8" style="padding: 0px;padding-left: 10px;">
							<div style="font-weight: bold;font-size: 16px;line-height: 30px;">服务保障</div>
							<div style="font-size: 14px;line-height: 30px;">
								您的满意，是我们最大的承诺
							</div>
						</div>
					</div>
					<div class="col-md-3" style="padding: 0;">
						<div class="col-md-4" style="padding: 0px;width: 65px;">
							<img alt="" src="${ctxPath}/static/modular/weilai/web/images/demo/pic_img4.jpg" style="width: 65px;height: 65px;border-radius: 50%">
						</div>
						<div class="col-md-8" style="padding: 0px;padding-left: 10px;">
							<div style="font-weight: bold;font-size: 16px;line-height: 30px;">全程售后</div>
							<div style="font-size: 14px;line-height: 30px;">
								完善的服务更让你无后顾之忧
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>

		<section id="01">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<a href="" class="title">装饰设计中心</a>
						<p>Decoration design center</p>
					</div>
				</div>
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-4 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive">
							<figcaption>
								<h2>室内定制设计案例</h2>
								<p><!-- Branding, Design --></p>
								<a href="${ctxPath}/content/list/01">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-2.jpg" alt="img02" class="img-responsive">
							<figcaption>
								<h2>别墅定制设计案例</h2>
								<p><!-- Branding, Web Design --></p>
								<a href="${ctxPath}/content/list/02">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-3.jpg" alt="img02" class="img-responsive">
							<figcaption>
								<h2>写字楼办公室定制设计案例</h2>
								<p><!-- Branding, Web Design --></p>
								<a href="${ctxPath}/content/list/03">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-4 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-4.jpg" alt="img02" class="img-responsive">
							<figcaption>
								<h2>酒店会所定制设计案例</h2>
								<p><!-- Branding, Design --></p>
								<a href="${ctxPath}/content/list/04">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-5.jpg" alt="img02" class="img-responsive">
							<figcaption>
								<h2>餐饮定制设计案例</h2>
								<p><!-- Branding, Web Design --></p>
								<a href="${ctxPath}/content/list/05">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-4 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-6.jpg" alt="img02" class="img-responsive">
							<figcaption>
								<h2>品牌店面定制设计案例</h2>
								<p><!-- Branding, Web Design --></p>
								<a href="${ctxPath}/content/list/06">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			</div><!-- end container -->
		</section>
		
<!-- 		<div style="height: 40px; width:100%;background-color: #f0f0f0">&nbsp;</div> -->
		
		<section id="02">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<a href="" class="title">产品定制中心</a>
<!-- 							<p>A creative agency based on Candy Land, ready to boost your business with some beautifull templates. MOOZ Agency is one of the best in town see more you will be amazed.</p> -->
						</div>
					</div>
				</div>
				<div class="swiper-container" id="swiper">
					<div class="row swiper-wrapper">
						<div class="col-md-4  swiper-slide">
							<div class="ot-portfolio-item">
								<figure class="effect-bubba">
									<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive" style="height: 300px">
									<figcaption>
										<h2>橱柜定制</h2>
										<p>Branding, Design</p>
										<a href="${ctxPath}/content/list/07">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="col-md-4  swiper-slide">
							<div class="ot-portfolio-item">
								<figure class="effect-bubba">
									<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive" style="height: 300px">
									<figcaption>
										<h2>家居定制</h2>
										<p>Branding, Design</p>
										<a href="${ctxPath}/content/list/08">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="col-md-4  swiper-slide">
							<div class="ot-portfolio-item">
								<figure class="effect-bubba">
									<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive" style="height: 300px">
									<figcaption>
										<h2>木门定制</h2>
										<p>Branding, Design</p>
										<a href="${ctxPath}/content/list/09">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
					<div class="swiper-pagination" id="swiper-pagination"></div>
					<div class="swiper-button-next" id="swiper-button-next"></div>
    				<div class="swiper-button-prev" id="swiper-button-prev"></div>
				</div>
			</div>
		</section>
		
		<section id="03" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<a href="" class="title">工程服务中心</a>
							<!-- <p>A creative agency based on Candy Land, ready to boost your business with some beautifull templates. MOOZ Agency is one of the best in town see more you will be amazed.</p> -->
						</div>
					</div>
				</div>

				<div class="swiper-container" id="swiper-03" style="padding-bottom: 40px;">
					<div class="row swiper-wrapper">
					
						<div class="col-md-3 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/10'" >
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>保温系列</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								
									<div class="team-text">
										<h3>保温系列</h3>
										<div class="team-position">Photography</div>
										<p>描述信息</p>
										<div class="team-socials">
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-youtube"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</div>
									</div>
							</div>
						</div>
						
						
						<div class="col-md-3 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/11'">
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>瓷砖系列</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								<div class="team-text">
									<h3>瓷砖系列</h3>
									<div class="team-position">Photography</div>
									<p>描述信息</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="col-md-3 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/12'">
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>水电系列</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								<div class="team-text">
									<h3>水电系列</h3>
									<div class="team-position">Photography</div>
									<p>描述信息</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="col-md-3 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/13'">
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>防火防潮系列</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								<div class="team-text">
									<h3>防火防潮系列</h3>
									<div class="team-position">Photography</div>
									<p>描述信息</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="swiper-pagination" id="pagination-03"></div>
					<div class="swiper-button-next" id="swiper-button-next-03"></div>
    				<div class="swiper-button-prev" id="swiper-button-prev-03"></div>
				</div>
			</div>
		</section>

		<section id="04">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<a href="${ctxPath}/content/list/14" class="title">智能家居中心</a>
							<!-- <p>A creative agency based on Candy Land, ready to boost your business with some beautifull templates. MOOZ Agency is one of the best in town see more you will be amazed.</p> -->
						</div>
					</div>
				</div>

				<div class="swiper-container" id="swiper-04">
					<div class="row swiper-wrapper">
					
						@for(info in map.list14){
							<div class="col-md-4 swiper-slide">
								<div class="team-item">
									<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/detail/${info.id}'" >
										<a href="page3">
											<img src="${info.image}" class="img-responsive" alt="author" style="width: 100%;height: 210px;">
										</a>
										<figcaption>
											<h2>${info.title}</h2>
<!-- 											<p>我是描述</p> -->
										</figcaption>
									</figure>
									
										<div class="team-text">
											<h3>${info.title}</h3>
											<div class="team-position">Photography</div>
											<p>${info.content}</p>
											<div class="team-socials">
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-youtube"></i></a>
												<a href="#"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
								</div>
							</div>
						@}
						
					</div>
					<div class="swiper-pagination" id="pagination-04"></div>
					<div class="swiper-button-next" id="swiper-button-next-04"></div>
    				<div class="swiper-button-prev" id="swiper-button-prev-04"></div>
				</div>
			</div>
		</section>

		<section id="05" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<a href="" class="title">软装设计中心</a>
<!-- 							<p>A creative agency based on Candy Land, ready to boost your business with some beautifull templates. MOOZ Agency is one of the best in town see more you will be amazed.</p> -->
						</div>
					</div>
				</div>
				<div class="swiper-container" id="swiper5">
					<div class="row swiper-wrapper">
						<div class="col-md-4 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/15'">
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>家装软装案例</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								
									<div class="team-text">
										<h3>家装软装案例</h3>
										<div class="team-position">Photography</div>
										<p>描述信息</p>
										<div class="team-socials">
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-youtube"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</div>
									</div>
							</div>
						</div>
						<div class="col-md-4 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/16'">
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>会所软装案例</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								<div class="team-text">
									<h3>会所软装案例</h3>
									<div class="team-position">Photography</div>
									<p>描述信息</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 swiper-slide">
							<div class="team-item">
								<figure class="effect-bubba" onclick="javascript:location.href='${ctxPath}/content/list/17'">
									<a href="page3">
										<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" class="img-responsive" alt="author" style="width: 100%">
									</a>
									<figcaption>
										<h2>商业软装案例</h2>
<!-- 										<p>我是描述</p> -->
<!-- 										<a href="${ctxPath}/page2">View more</a> -->
									</figcaption>
								</figure>
								<div class="team-text">
									<h3>商业软装案例</h3>
									<div class="team-position">Photography</div>
									<p>描述信息</p>
									<div class="team-socials">
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="swiper-pagination" id="pagination5"></div>
					<div class="swiper-button-next" id="swiper-button-next5"></div>
    				<div class="swiper-button-prev" id="swiper-button-prev5"></div>
				</div>
			</div>
		</section>

		<section id="06">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>公司简介</h2>
							<!-- <p>Nantes is a clean, responsive bootstrap template suitable for agencies, design studios, mobile apps or business sites. It uses the best clean SEO practices, and on top of that, it’s fast, simple, and easy to modify. <br><strong>Nantes Is More Than A Theme, It’s A Powerful Design Tool</strong></p> -->
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/>
								<h3>张三</h3>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
							</div>
							<a href="#" class="mz-module-button">read more</a>
						</div>
					</div>
					
					
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/>
								<h3>李四</h3>
								<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
							</div>
							<a href="#" class="mz-module-button">read more</a>
						</div>
					</div>
					
					
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/>
								<h3>王五</h3>
								<p>Accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
							</div>
							<a href="#" class="mz-module-button">read more</a>
						</div>
					</div>
					
					
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/>
								<h3>赵六</h3>
								<p> Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores</p>
							</div>
							<a href="#" class="mz-module-button">read more</a>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<style>
			.company .container{
				width:1500px;
			}
			.company .tool{
				width:150px;
				height: 130px;
				background-color: #b4a8a4;
				border-bottom: 2px solid white;
				line-height: 130px;
				cursor: pointer;
/* 				background: url(/static/images/demo/lz_jiantou.png) no-repeat center right; */
			}
			.company .tool:hover{
				background-color: red;
			}
			.border-none{
				border: none !important;
			}
			.lz_txt {
			    display: block;
			    overflow: hidden;
			    font-family: 'Microsoft YaHei';
			    font-size: 30px;
			    color: #646464;
			    font-size: 12px;
			}
			.lz_txt .lz_p {
			    font-size: 14px;
			    color: #353535;
			    display: block;
			    line-height: 36px;
			}
			
		</style>
		<section class="company">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>公司简介</h2>
						<p>Nantes is a clean, responsive bootstrap template suitable for agencies, design studios, mobile apps or business sites. It uses the best clean SEO practices, and on top of that, it’s fast, simple, and easy to modify. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div style="width: 50%;float: left;">
					<img src="${ctxPath}/static/modular/weilai/web/images/demo/author-6.jpg" width="100%" height="390px" />
				</div>
				<div style="width: 50%;float: left;">
					<div class="col-md-3" style="text-align: center;padding-left: 0px;">
						<div class="col-md-12 tool" index="0" >蓝钻介绍</div>
						<div class="col-md-12 tool" index="1" >施工管理</div>
						<div class="col-md-12 tool border-none" index="2" >在建工地</div>
					</div>
					<div class="col-md-9">
						<div class="lz_txt">
							<span class="lz_p">概念</span> 蓝钻工程，源于欧洲最先进的施工和管理理念，包括工艺质量保障系统、材料质量保障系统、环境质量保障系统和管理质量保障系统四个有机模块，专注于整个施工过程的系统化，是目前国际上最新的和最具系统性的家庭装修施工和管理标准。<br>
							<br>
							<span class="lz_p">蓝钻工程的意义</span> 蓝钻工程，以向消费者提供蓝钻般的工艺品质和服务品质为核心基点，第一次提出了家庭装修工程要从系统性的高度来整体进行施工和管理，从而克服了其它片面强调材料升级的家装工艺的弊端。<br>
							<br>
							<span class="lz_p">释义</span> 蓝钻般的品质（工程品质和服务品质）
                        </div>
					</div>
					<div class="col-md-9" style="display: none;">
						<div class="lz_txt">
							<span class="lz_p">蓝钻工程</span> 蓝钻工程，源于欧洲最先进的施工和管理理念，包括工艺质量保障系统、材料质量保障系统、环境质量保障系统和管理质量保障系统四个有机模块，专注于整个施工过程的系统化，是目前国际上最新的和最具系统性的家庭装修施工和管理标准。VIP服务 业主可由关镇铨设计公司提供的VIP客户服务账号登陆ERF系统，享受VIP服务。通过系统可提前知道施工期间专用客服及施工人员、质量管理员，并可在系统中与客服互动，查询工地现场施工情况。<br>
							<br>
							施工中，工作人员根据公司提供的进度表来控制进度，以免拖延工期，此表也可以在客户VIP服务系统中体现。<br>
							<br>
						</div>
					</div>
					<div class="col-md-9">
					
					</div>
				</div>
			</div>
			</div>
		</section>
<!-- 		<section id="07"> -->
<!-- 			<div class="container"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-lg-12 text-center"> -->
<!-- 						<div class="section-title"> -->
<!-- 							<h2>部门简介</h2> -->
<!-- 							<p>Nantes is a clean, responsive bootstrap template suitable for agencies, design studios, mobile apps or business sites. It uses the best clean SEO practices, and on top of that, it’s fast, simple, and easy to modify. <br><strong>Nantes Is More Than A Theme, It’s A Powerful Design Tool</strong></p> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="row"> -->
<!-- 					about module -->
<!-- 					<div class="col-md-3 text-center"> -->
<!-- 						<div class="mz-module"> -->
<!-- 							<div class="mz-module-about"> -->
<!-- 								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/> -->
<!-- 								<h3>设计部</h3> -->
<!-- 								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
<!-- 							</div> -->
<!-- 							<a href="#" class="mz-module-button">read more</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					end about module -->
<!-- 					about module -->
<!-- 					<div class="col-md-3 text-center"> -->
<!-- 						<div class="mz-module"> -->
<!-- 							<div class="mz-module-about"> -->
<!-- 								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/> -->
<!-- 								<h3>市场部</h3> -->
<!-- 								<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p> -->
<!-- 							</div> -->
<!-- 							<a href="#" class="mz-module-button">read more</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					end about module -->
<!-- 					about module -->
<!-- 					<div class="col-md-3 text-center"> -->
<!-- 						<div class="mz-module"> -->
<!-- 							<div class="mz-module-about"> -->
<!-- 								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/> -->
<!-- 								<h3>销售部</h3> -->
<!-- 								<p>Accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
<!-- 							</div> -->
<!-- 							<a href="#" class="mz-module-button">read more</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					end about module -->
<!-- 					about module -->
<!-- 					<div class="col-md-3 text-center"> -->
<!-- 						<div class="mz-module"> -->
<!-- 							<div class="mz-module-about"> -->
<!-- 								<img src="http://iph.href.lu/100x100" width="100px" height="100px"/> -->
<!-- 								<h3>采购部</h3> -->
<!-- 								<p> Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores</p> -->
<!-- 							</div> -->
<!-- 							<a href="#" class="mz-module-button">read more</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					end about module -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 		</section> -->
		
		<section id="partners" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>合作企业</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="owl-partners owl-carousel">
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-1.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-2.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-3.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-4.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-5.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-6.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-7.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-8.png" alt="partners"></div>
							</div>
							<div class="item">
								<div class="partner-logo"><img src="${ctxPath}/static/modular/weilai/web/images/demo/partners-9.png" alt="partners"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="contact" class="dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>联系我们</h2>
							<p>如果你有问题或需要帮助！请联系我们！我们为您的企业设计出凉爽整洁的设计。 </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="section-text">
							<h4>联系方式</h4>
							<p>北京亦庄经济开发区国锐金嵿</p>
							<p><i class="fa fa-phone"></i> 电话：13910800234</p>
							<p><i class="fa fa-envelope"></i> 邮箱：13910800234\@126.com</p>
						</div>
					</div>
					<div class="col-md-3">
							
						<div class="section-text">
							<h4>微信二维码</h4>
							<p><img alt="" src="${ctxPath}/static/modular/weilai/web/images/demo/erweima.png" height="90" /></p>
<!-- 							<p><i class="fa fa-clock-o"></i> <span class="day">星期六:</span><span>9:00至14:00</span></p> -->
<!-- 							<p><i class="fa fa-clock-o"></i> <span class="day">星期日:</span><span>不营业</span></p> -->
						</div>
					</div>
					<div class="col-md-6">
						<form name="sentMessage" id="contactForm" method="post" novalidate="" action="${ctxPath}/sendMessage" >
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" maxlength="20" placeholder=" 你的姓名 *" id="name" name="name" required="" data-validation-required-message="请输入你的姓名">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" maxlength="11" placeholder="你的手机 *"  id="mobile" name="mobile" required="" data-validation-required-message="请输入你的手机">
										<p class="help-block text-danger"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" maxlength="200" placeholder="留言 *" id="description" name="description" required="true" data-validation-required-message="Please enter a message."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button type="button" id="sendMessage" class="btn">发送信息</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		@include("/common/weilai/_footer.html"){}

		<!-- Modal for portfolio item 1 -->
		<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 2 -->
		<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-2.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 3 -->
		<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-3">提示</h4>
					</div>
					<div class="modal-body" style="text-align: center; line-height: 50px; color: red; font-size: 20px; font-weight: bold;">
						请输入姓名
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 4 -->
		<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-4">提示</h4>
					</div>
					<div class="modal-body" style="text-align: center; line-height: 50px; color: red; font-size: 20px; font-weight: bold;">
						请输入手机号码
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 5 -->
		<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-5">提示</h4>
					</div>
					<div class="modal-body" style="text-align: center; line-height: 50px; color: red; font-size: 20px; font-weight: bold;">
						请输入留言
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		@include("/common/weilai/_basic-script.html"){}
		<script type="text/javascript">
			
			$("#sendMessage").click(function(){
				var name = $("#name").val();
				var mobile = $("#mobile").val();
				var description = $("#description").val();
				if(name==null||name==""){
					$("#Modal-3").modal("show");
					return false;
				}else if(mobile==null||mobile==""){
					$("#Modal-4").modal("show");
					return false;
				}else if(description==null||description==""){
					$("#Modal-5").modal("show");
					return false;
				}
				$("#contactForm").submit();
			});
		</script>
		<script type="text/javascript">
			$(".company .tool").mouseenter(function(){
				var index = $(this).attr("index");
				$(this).parent().next().find(".col-md-9").hide();
				$(this).parent().next().find(".col-md-9:eq("+index+")").show();
			});
		</script>
	</body>
</html>