<!DOCTYPE html>
<html lang="en">
	<head>
		@include("/common/weilai/_head.html"){}
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/modular/weilai/web/css/page2.css">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		@include("/common/weilai/_nav.html"){}
		<!-- Header -->
		<header>
			<div class="banner">
				<img src="${ctxPath}/static/modular/weilai/web/images/demo/slider-1.jpg" class="img-responsive" alt="portfolio" width="100%" style="height: 300px;">
			</div>
		</header>


		<section id="" class="case">
			<div class="container">
				<div>
					<div class="text-center article-detail">
					
						<h2>${renovation.title}</h2>
						<p>
							@if(renovation.hot=='1'){
							<span class="mr10"><i class="fa fa-firefox default mr5"></i>热点</span>
							@}
							<span class="mr10"><i class="fa fa-clock-o mr5" aria-hidden="true"></i>${renovation.createTime,'yyyy-MM-dd HH:mm:SS'}</span>
							<span class="mr10"><i class="fa fa-eye mr5"></i>访问量：${renovation.readCount}</span>
							<span class="type">所属分类：<span class="default">${typeName}</span></span>
						</p>
<!-- 						<p class="text-left">${renovation.content}</p> -->
					
					</div>
				</div>
				@for(item in list){
					<div class="row row-0-gutter">
						<div class="col-md-12 col-0-gutter">
							<div class="ot-portfolio-item">
<!-- 								<figure class="effect-bubba"> -->
									<img src="${item.image}" alt="img02" class="img-responsive"  style="height: 300px;"/>
<!-- 									<figcaption> -->
<!-- 										<h2>${item.content}</h2> -->
<!-- 									</figcaption> -->
<!-- 								</figure> -->
								<p>${item.content}</p>
							</div>
						</div>
					</div>
				@}
			</div>
		</section>

		<section id="contact" class="expand">
			<div class="container">
				<p class="comment">[小编点评] ${renovation.content}</p>
<!-- 				<p >拓展阅读</p> -->
<!-- 				<p class="hot">金秋装修流行趋势抢先看，简洁北美风将大放异彩</p> -->
<!-- 				<p>不知不觉救济即将到来，又到了一年最适合装修的季节，现在装修人们已经不仅仅关注房子装修的花费，要关注房子装修的个性，环保，这个季节装修将会流行什么呢？</p> -->
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<p>Theme made by MOOZThemes More Templates <a href="http://www.cssmoban.com/" target="_blank" title="卫莱国际">卫莱国际</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
		</footer>

		<!-- Modal for portfolio item 1 -->
		<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 2 -->
		<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-2.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 3 -->
		<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-3.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 4 -->
		<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-4.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 5 -->
		<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-5">Fast People</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-5.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		@include("/common/weilai/_basic-script.html"){}
	</body>
</html>
