<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Nantes - Onepage Business Template</title>
		<!-- Bootstrap core CSS -->
		<link href="${ctxPath}/static/modular/weilai/web/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="${ctxPath}/static/modular/weilai/web/css/owl.carousel.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/weilai/web/css/owl.theme.default.min.css"  rel="stylesheet">
		<link href="${ctxPath}/static/modular/weilai/web/css/animate.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/weilai/web/css/style.css" rel="stylesheet">
		<link href="${ctxPath}/static/modular/weilai/web/css/public.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/modular/weilai/web/css/page2.css">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top"><img src="${ctxPath}/static/modular/weilai/web/images/logo.png" alt="Sanza theme logo"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right" id="nav" >
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#page-top">首页</a>
						</li>
						<li>
							<a class="page-scroll" href="#villadesign">设计部</a>
							<ul class="" style="display:none" >
								
								<li>
									<a class="page-scroll" href="#">别墅设计</a>
								</li>
								<li>
									<a class="page-scroll" href="#">酒店设计</a>
								</li>
								<li>
									<a class="page-scroll" href="#">家装设计</a>
								</li>
								<li>
									<a class="page-scroll" href="#">办公室设计</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="page-scroll" href="#designstyle">智能家居</a>
						</li>
						<li>
							<a class="page-scroll" href="#smarthome">定制木门</a>
						</li>
						<li>
							<a class="page-scroll" href="#customwoodendoor">软装部</a>
							<ul class="" style="display:none" >
								<li>
									<a class="page-scroll" href="#">精装</a>
								</li>
								<li>
									<a class="page-scroll" href="#">豪装</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="page-scroll" href="#about">
								公司简介
							</a>
							<ul class="" style="display:none" >
								<li>
									<a class="page-scroll" href="#">公司简介</a>
								</li>
								<li>
									<a class="page-scroll" href="#">部门介绍</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="page-scroll" href="#contact">联系我们</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- Header -->
		<header>
			<div class="banner">
				<img src="${ctxPath}/static/modular/weilai/web/images/demo/slider-1.jpg" class="img-responsive" alt="portfolio" width="100%" style="height: 300px;">
			</div>
		</header>


		<section id="" class="case">
			<div class="container">
				<div>
					<div class="text-center article-detail">
					
						<h2>125平北美风格装修案例 打造最舒适家居</h2>
						<p>
							<span class="mr10"><i class="fa fa-firefox default mr5"></i>热点</span>
							<span class="mr10"><i class="fa fa-clock-o mr5" aria-hidden="true"></i>2017年6月30日</span>
							<span class="mr10"><i class="fa fa-eye mr5"></i>访问量：1000</span>
							<span class="type">所属分类：<span class="default">装修案例</span></span>
						</p>
						<p class="text-left">北美风格的家居整体整洁大方，而兼具古典情怀，是一种混合风格。也是现在家居装修非常流行的风格，今天小编和大家分享一套非常棒的北美风格家居装修案例。</p>
					
					</div>
				</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-12 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive"  style="height: 300px;"/>

								<figcaption>
									<h2>125平北美风格装修案例打造 打造最舒适家居</h2>
									
								</figcaption>
							</figure>
							<p>美式古典东方卫</p>
						</div>
					</div>
				</div>

				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-12 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive"  style="height: 300px;"/>

								<figcaption>
									<h2>125平北美风格装修案例打造 打造最舒适家居</h2>
									
								</figcaption>
							</figure>
							<p>美式古典东方卫</p>
						</div>
					</div>

				</div>

				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-12 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive"  style="height: 300px;"/>

								<figcaption>
									<h2>125平北美风格装修案例打造 打造最舒适家居</h2>
									
								</figcaption>
							</figure>
							<p>美式古典东方卫</p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section id="contact" class="expand">
			<div class="container">
				<p class="comment">[小编点评] 北美风格是现在比较流行的装修风格。简洁时尚而不失优雅内涵，是各种风情的完美结合表达，这套装修方案里面小编最喜欢厨房了。简约时尚，但非常有内涵。</p>
				<p >拓展阅读</p>
				<p class="hot">金秋装修流行趋势抢先看，简洁北美风将大放异彩</p>
				<p>不知不觉救济即将到来，又到了一年最适合装修的季节，现在装修人们已经不仅仅关注房子装修的花费，要关注房子装修的个性，环保，这个季节装修将会流行什么呢？</p>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<p>Theme made by MOOZThemes More Templates <a href="http://www.cssmoban.com/" target="_blank" title="卫莱国际">卫莱国际</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
		</footer>

		<!-- Modal for portfolio item 1 -->
		<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-1.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 2 -->
		<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-2.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 3 -->
		<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-3.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 4 -->
		<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-4.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 5 -->
		<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-5">Fast People</h4>
					</div>
					<div class="modal-body">
						<img src="${ctxPath}/static/modular/weilai/web/images/demo/portfolio-5.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script href="${ctxPath}/static/modular/weilai/web/js/jquery.min.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/jquery.easing.min.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/bootstrap.min.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/owl.carousel.min.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/cbpAnimatedHeader.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/jquery.appear.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/SmoothScroll.min.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/theme-scripts.js"></script>
		<script href="${ctxPath}/static/modular/weilai/web/js/index.js"></script>
	</body>
</html>
