<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.dao.RenovationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.weilai.model.Renovation">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="image" property="image" />
		<result column="read_count" property="readCount" />
		<result column="hot" property="hot" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, type, title, content, image, read_count AS readCount, hot,
		create_time AS createTime, create_by AS createBy, del_flag AS delFlag
	</sql>

	<insert id="insertDetail" parameterType="com.weilai.model.RenovationDetail">

		INSERT INTO renovation_detail
		(id,
		renovation_id,
		title,
		content,
		image,
		create_time,
		create_by,
		del_flag
		)
		VALUES
		(
		#{id},
		#{renovationId},
		#{title},
		#{content},
		#{image},
		#{createTime},
		#{createBy},
		#{delFlag}
		);

	</insert>
	<select id="selectDetailList" parameterType="com.weilai.model.RenovationDetail" resultType="com.weilai.model.RenovationDetail">
		select * from renovation_detail where del_flag=0 and renovation_id=#{renovationId}
	</select>
</mapper>
