/* 导航部分 */
.navbar{
	padding:0;
	margin:0;
	background-color: #fff;
	height: 80px;
	border: 0;

}
.navbar .nav{
	padding:0;
	background-color: #fff;
}
.nav li a{
	line-height: 80px;
    padding: 0 15px;

}
.nav li:hover a{
	color:#e68a76;
}
#nav li ul{
	position: absolute;
    top: 79px;
    width: 100px;
    color: black;
    margin-left: 15px;
    background: #fff;
    padding:0;
}
#nav li ul li{
	padding:0;
}
#nav li ul li a{
	line-height: 36px;
	padding-left: 20px;
	display: block;
	color:#777;
	padding-right: 0;
	font-size: 14px;
}
#nav li ul li a:hover{
	background-color: #efeff0;
}

.nav li a {
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #444448;
}

.navbar-default .nav li:hover a,.navbar-default .nav li a:focus{
	color: #fed136;
	outline: 0;
	text-decoration: none;
}


@media (max-width:768px) {
	.navbar-default .navbar-toggle {
		background-color: #fed136;
		border-color: #fed136;
		margin-top: 20px;
	} 
	.nav li a{
		line-height: 50px;
	    padding: 0 15px;
	    font-size: 14px;

	}
	#nav li ul{
		position: relative;
		top:0;
	}

	 .navbar-default .navbar-toggle .icon-bar {
		background-color: #fff
	} 
	.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
		background-color: #fed136
	}
}  


.team-text{
	padding-bottom: 20px;
	overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
}
.default{
	color: #EB5A4F;
}
.default-bj{
	color: #fff;
	background-color: #EB5A4F;
}

.info-bj{
	color: #fff;
	background-color: #B2B3B7;
}
.mr10{
	margin-right: 10px;
}
.mr5{
	margin-right: 5px;
}

#owl-slider{
	height: 300px!important;
}
#owl-slider .owl-carousel .owl-item img{
	height: 300px!important;
}

.row img{
	cursor: pointer;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
body .swiper-container .swiper-button-prev{
    left: 0px;
    top: 116px;
}
body .swiper-container .swiper-button-next{
    right: 0px;
    top: 116px;
}
body .swiper-container{
	padding: 0 0 0 30px;
}

#partners .owl-carousel .owl-item img{
    height: inherit;
}
#partners {
	padding-bottom: 80px;
}
#swipwe1 .swiper-button-prev{
	left: 0px;
    top: 44%;
}

#swipwe1 .swiper-button-next{
	top: 44%;
}