@layout("/common/_container.html"){
<style>
.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #ffffff;
	background-color: #ffffff;
	height: 1px;
	margin: 20px 0;
	margin-top: 45px;
	margin-bottom: 10px;
}
</style>
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal">
			<form action="javascript:;" id="form">
				<input type="hidden" name="id" id="id" value=""> <input
					type="hidden" name="type" id="type" value="${type}">

				<div class="row">
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">标题</label>
						<div class="col-sm-9">
							<input class="form-control" id="title" name="title" type="text">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">热点文章</label>
						<div class="col-sm-9">
							<select class="form-control" id="hot" name="hot">
								<option value="0">不是</option>
								<option value="1">是</option>
							</select>
						</div>
					</div>
					<div class="col-sm-12 form-group">
						<label class="col-sm-3 control-label">图片</label>
						<div class="col-sm-9">
							<input class="form-control" id="image" name="image" type="text">
						</div>

					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">内容</label>
						<div class="col-sm-9">
							<textarea class="form-control" id="content" name="content"></textarea>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<div class="col-sm-3">&nbsp;</div>
						<div class="col-sm-9">
							<button type="button" id="add_detail" class="btn btn-info">添加详情</button>
						</div>
					</div>
					<div id="detail"></div>
				</div>
			</form>
			<div id="template" style="display: none;">
				<div class="detail">
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">内容</label>
						<div class="col-sm-9">
							<textarea class="form-control" name="detailContent"></textarea>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<div class="col-sm-12">
							<img alt="" src=""> <input class="form-control"
								name="detailImage" type="text">
						</div>
						<div class="col-sm-3 control-label"></div>
						<div class="col-sm-9">
							<button type="button" class="btn btn-info selectImage">选择图片</button>
							<button type="button" class="btn btn-info delete_detail">删除选项</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row btn-group-m-t">
				<div class="col-sm-12" style="text-align: right;"><#button
					btnCss="info" name="提交" id="ensure" icon="fa-check"
					clickFun="RenovationInfoDlg.addSubmit()"/> <#button btnCss="danger"
					name="取消" id="cancel" icon="fa-eraser"
					clickFun="RenovationInfoDlg.close()"/></div>
			</div>
		</div>

	</div>
</div>
<script
	src="${ctxPath}/static/modular/weilai/renovation/renovation_info.js"></script>
<script type="text/javascript">
	$("#add_detail").click(function() {
		var html = $("#template").html();
		$("#detail").append(html);
	});
	$("body").on("click", ".delete_detail", function() {
		$(this).parents(".detail").remove();
	});
</script>
@}
