<script src="${ctxPath}/static/modular/weilai/web/js/jquery.min.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/jquery.easing.min.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/bootstrap.min.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/owl.carousel.min.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/cbpAnimatedHeader.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/jquery.appear.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/SmoothScroll.min.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/theme-scripts.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/swiper.min.js"></script>
<script src="${ctxPath}/static/modular/weilai/web/js/index.js"></script>